@charaset "UTF-8";

body, html {
    height: 100%;
    width: 100%;
}

*{
  text-align: center;
  font-size: 16px;
}

h2{
  font-size: 30px;
}

p{
  font-size: 24px;
}

div{
  height: 300px;
  width: 50%;
  position: relative;
}

.intro-left{
  float: left;
}
.intro-right{
  float: left;
}
.image-left{
  float: left;
}
.image-right{
  float: left;
}

div .line-left{
  position: absolute;
  top: 70px;
  right: 50px;
}
div .line-right{
  position: absolute;
  top: 70px;
  left: 50px;
}

div .img-left{
  position: absolute;
  top: 0px;
  right: 0px;
}
div .img-right{
  position: absolute;
  top: 0px;
  left: 0px;
}
